mat-slider{
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
}



::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: green !important;;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-container{
    background-color: lightskyblue;
    min-height: 93vh !important;
  }

  .mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}
  
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

.first-line {
  height: 60px !important;
}

.second-line {
  background: #98e7e1;
  height: 30px !important;
}

.label {
  display: inline-flex;
  align-items: baseline;
  white-space: nowrap;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: medium;
  margin-right: 25px;
  color: black;
}

.labelU {
  display: inline-flex;
  align-items: baseline;
  white-space: nowrap;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: medium;
  margin-right: 5px;
  color: white;
}

.line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.vinho-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-start;
}

.img {
  width: 45%;
}

.img2 {
  width: 55%;
}

.cursor {
  cursor: pointer !important;
}

.ic {
  margin-top: 0%;
  padding: 0;
}