<mat-toolbar>
        <span (click)="toHome()" class="cursor" matTooltip="Página inicial">UAIVINO</span>
        <span class="example-spacer"></span>

        <button mat-icon-button matTooltip="Meus Vinhos" class="ic" (click)="toVinhos()"><mat-icon>wine_bar</mat-icon></button>
        <!--<button mat-icon-button matTooltip="Carrinho" (click)="toCarrinho()"><mat-icon>shopping_cart</mat-icon></button>-->
        
       
        <!--Colocar um ngIf pra reconhecer o login: logou some login e aparece sair e o nome-->
        <button mat-icon-button matTooltip="Login" (click)="toLogin()"><mat-icon>account_circle</mat-icon></button>
        <span class="labelU">Anna Luiza</span>
        <button mat-icon-button matTooltip="Sair" (click)="toCarrinho()"><mat-icon>logout</mat-icon></button>

   <!-- <mat-toolbar-row class="second-line">
            <span class="label cursor" (click)="toVinhos()">
                <mat-icon class="example-tab-icon">
                    <img src="./assets/icon/wine.svg" class="img">
                </mat-icon>
                Vinhos
            </span>

            <span class="label cursor" (click)="toHarmonizacoes()">
                <mat-icon class="example-tab-icon">
                    <img src="./assets/icon/cheese.svg" class="img">
                </mat-icon>
                Harmonizações
            </span>

            <span class="label cursor" (click)="toUvas()" mat-icon-button>
                <mat-icon class="example-tab-icon">
                    <img src="./assets/icon/grape.svg" class="img">
                </mat-icon>
                Uvas
            </span>
    </mat-toolbar-row>-->
</mat-toolbar>
