<br>
<form class="form">
  <div class="row">
    <mat-form-field color="primary">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
    
  <div class="row">
    <mat-form-field color="primary">
      <mat-label>Senha</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="row">
    <p class="pass">Esqueci minha senha</p>
  </div>
  </form><br>

  <div class="row line">
    <button class="btnFechar" (click)="dismiss()">Cancelar</button>&nbsp;
    <button class="btnContinuar" (click)="toLogin()">Continuar</button>
  </div><br><br>

  <p class="new" (click)="cadastro()">Não tem conta? Cadastre-se.</p>




