/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-thumb {
	background-color: #3f51b5 !important;
}

.mat-slider-thumb-label {
	background-color: #3f51b5 !important;
}

.mat-accent .mat-slider-thumb-label-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mat-slider-track-fill {
	background-color: #3f51b5 !important;
    width: 15px;
}

.mat-step-header .mat-step-icon {
    background-color: #3f51b5;
    color: #fff;
    font-weight: 500;
}

.mat-step-header {
    overflow: hidden;
    outline: none;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}
.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.mat-toolbar {
    background: #3f51b5; //#880e4f;
    color: #fff;
}

.mat-icon {
    vertical-align: middle;
}

.mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    white-space: nowrap;
}
  

.mat-checkbox-layout { white-space: normal !important; }

@mixin mat-checkbox-typography($config) {
    .mat-checkbox {
      font-family: mat-font-family($config);
    }
    .mat-checkbox-label { // NEW
      white-space: initial; // NEW
    } // NEW
    // TODO(kara): Remove this style when fixing vertical baseline
    .mat-checkbox-layout .mat-checkbox-label {
      line-height: mat-line-height($config, body-2);
    }
  }