<mat-card>
    <mat-card>
        <div class="row line">
            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div><br>

        <div class="row line">
            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div><br>

        <div class="row line">
            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-12 col-md-4">
                <mat-card>
                    <div class="row line">
                        <div class="col-12 col-md-3 vinho-img">
                            <img style="width: 200%;" src="./assets/icon/vinhos.png">
                        </div>
                    </div><br>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div><br>
    </mat-card><br>
</mat-card>


