<mat-card class="card">
    <div class="row line">
        <mat-card class="col-12 col-md-3">
            <div class="row" >
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row" >
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row" >
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row" >
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>

        <mat-card class="col-12 col-md-3">
            <div class="row">
                <div class="col">
                    <div class="vinho-img">
                        <img src="./assets/icon/vinhos.png">
                    </div>
                </div><br>
                <div class="col">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>This card indeterminates progress bar.</p>
                        <p>longText</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card><br>
    </div><br>
</mat-card><br>


